@{
    ViewData["Title"] = "Index";
}
<style>
    .k-treemap .k-treemap-title {
        padding: 0;
    }

    .k-treemap-tile .k-leaf {
        cursor: pointer;
    }
</style>
<div class="box wide">
    <div class="box-col" style="display:inline-block;">
        <h4>TreeMap rendering types</h4>
        <ul class="options">
            <li>
                <input id="typeSquarified" name="type"
                       type="radio" value="squarified" checked="checked" autocomplete="off" />
                <label for="typeSquarified">Squarified</label>
            </li>
            <li>
                <input id="typeVertical" name="type"
                       type="radio" value="vertical" autocomplete="off" />
                <label for="typeVertical">Vertical(Slice and Dice)</label>
            </li>
            <li>
                <input id="typeHorizontal" name="type"
                       type="radio" value="horizontal" autocomplete="off" />
                <label for="typeHorizontal">Horizontal(Slice and Dice)</label>
            </li>
        </ul>
    </div>
    <div class="box-col" style="display:inline-block;">
        <label style="margin-left:40px;">Path prefix to remove</label>
        <ul class="form-group"> 
            <li style="display:inline-block;">
                @(Html.Kendo().TextBox()
                    .Name("textbox")                    
                    .HtmlAttributes(new { style = "width: 500px" })
                )
            </li>
            <li style="display:inline-block;">
                @(Html.Kendo().Button()
                    .Name("apply")
                    .HtmlAttributes(new { type = "button", @class = "k-primary" })
                    .Content("Apply"))    
            </li>
        </ul>
    </div>
</div>
<div id="treemap">
@(Html.Kendo().TreeMap()
      .Name("treeMap")
      .DataSource(dataSource => dataSource
          .Read(read => read
              .Action("Files", "FileLocation")
          )
          .Model(m => m.Children("Items"))
      )
      .ValueField("Value")
      .TextField("Name")
      .HtmlAttributes(new { style = "height:600px; font-size: 12px;" })
)
</div>
<div id="grid"></div>

<script>
$(document).ready(function () {
    $(".options").bind("change", refresh);
});

function refresh() {
    $("#treeMap").getKendoTreeMap().setOptions({
        type: $("input[name=type]:checked").val()
    });
}

$("#treeMap").on("click", ".k-treemap-tile", function(e){
    // prevent the propagation of the click event to the parent (category)
    e.stopPropagation();
    var tile = $(this);
    //access the uid of the rendered tile
    var uid = tile.data().uid;
    var ds = $("#treeMap").data("kendoTreeMap").dataSource;
    // find the data item by its uid
    var path = $("#textbox").val();
    var dataItem = ds.getByUid(uid);
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Grid", "Grid")',
        data: { "folder": dataItem.Name, "path": path },
        dataType: 'html',
        success: function (data) {
            $('#grid').html(data);
        },
        error: function () {
        }
    });
});

$("#apply").click(function(){
    var path = $("#textbox").val();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Treemap", "FileLocation")',
        data: { "remove": path },
        dataType: 'html',
        success: function (data) {
            $('#treemap').html(data);
        },
        error: function () {
        }
    });
});
</script>
